@import 'src/styles/app';

.controller {
  display: flex;
}

.tab {
  flex: 50%;
  text-align: center;

  padding: 10px;
  background: $lightGray;
  border-bottom: 1px solid $silver;

  &:first-child {
    border-right: 1px solid $silver;
  }

  cursor: pointer;

  &.active {
    background: $white;
    border-bottom: none;
  }
}