@import 'src/styles/app';

.form {
  width: 100%;

  padding: 0 10px;
}

.input {
  width: 100%;
  outline: none;
  padding: 10px;

  border: 1px solid $silver;
  border-radius: 5px;

  &:focus {
    border-color: $blue;
  }
}