@import 'src/styles/app';

.controller {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 150px);

  padding: 15px;

  background: #cfdfef;
}

@media (max-width: $tabletBreakpoint) {
  .controller {
    padding: 5px;
    height: calc(100% - 75px);
  }
}
