//colors
$white: #fff;
$darkBlue: #586670;
$lightBlue: #becbd9;
$vanishBlue: #cfdfef;
$silver: #d7dfe7;
$blue: #428bca;
$lightOrange: #f0cbb3;
$lightGray: #f5f1f1;
$silver: #c0c0c0;
$lightGreen: #0dc605;

//breakpoints

//sizes
$maxContainerWidth: 1320px;
