//colors
$white: #fff;
$darkBlue: #586670;
$lightBlue: #becbd9;
$vanishBlue: #cfdfef;
$blue: #428bca;
$lightOrange: #f0cbb3;
$darkOrange: #bba08e;
$brown: #703a18;
$lightGray: #f5f1f1;
$silver: #c0c0c0;
$darkSilver: #4a4d52;
$lightGreen: #0dc605;

//breakpoints
$mobileBreakpoint: 480px;
$tabletBreakpoint: 768px;
$smallLaptopBreakpoint: 1024px;

//sizes
$maxContainerWidth: 1320px;
