@import 'src/styles/app';

.list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  width: 100%;
  height: 85%;
  overflow-y: auto;
  overflow-x: hidden;

  padding: 10px 15px 30px;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: $lightBlue;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: $darkBlue;
    border-radius: 10px;
  }
}
