@import 'src/styles/app';

.contact {
  display: flex;
  background: $lightBlue;
}

.image {
  height: 150px;
  width: 150px;
  object-fit: contain;
}

.information {
  max-height: 150px;
  padding: 20px;

  overflow: hidden;
}

.name {
  margin-bottom: 10px;
}

.description {

}
