@import 'src/styles/app';

.contact {
  display: flex;
  background: $lightBlue;
}

.image {
  height: 150px;
  width: 150px;
  object-fit: cover;
}

.information {
  max-height: 150px;
  padding: 10px;

  overflow: hidden;
}

.name {
  margin-bottom: 10px;
}

.description {

}


@media (max-width: $tabletBreakpoint) {
  .information {
    max-height: 75px;
    padding: 5px;
  }

  .image {
    height: 75px;
    width: 75px;
  }
}