@import 'src/styles/app';

.contact {
  display: flex;
  background: $lightBlue;
}

.image {
  height: 150px;
  width: 150px;
  object-fit: cover;
}

.information {
  max-height: 150px;
  padding: 10px;

  overflow-y: auto;

  @include scrollStyle(5px, $lightBlue, $darkSilver)
}

.name {
  margin-bottom: 5px;

  font-size: 24px;
}

.description {
  font-size: 14px;
}


@media (max-width: $tabletBreakpoint) {
  .information {
    max-height: 75px;
    padding: 5px;
  }

  .image {
    height: 75px;
    width: 75px;
  }

  .name {
    font-size: 20px;
  }
}